@tailwind base;
@tailwind components;
@tailwind utilities;

.logo__text {
  @apply text-2xl;
  font-family: 'Zilla Slab';
}

.nav__links_container {
  @apply hidden lg:flex justify-between gap-x-5;
}

.nav__links_container a {
  @apply px-3 py-1 bg-transparent hover:bg-gray-100 transition-colors;
}

.secondary-font {
  font-family: 'Zilla Slab';
}

.form-group {
  @apply flex flex-col mb-3;
}

.form-group.error input,
.form-group.error select {
  @apply bg-red-100 border border-red-300 text-red-500 focus:border-red-500;
}

.form-group label {
  @apply text-sm font-normal text-gray-700 ml-1 mb-1;
}

.form-group input,
.form-group textarea,
.form-group select {
  @apply border 
  px-4 py-[0.4rem] 
  outline-none 
  shadow-sm 
  rounded-lg
  transition
  appearance-none
  bg-white
  text-gray-700 
  border-gray-200 
  
  focus:border-orange-500
  focus:border-2;
}

.form-group input:disabled,
.form-group textarea:disabled,
.form-group select:disabled {
  @apply bg-gray-50 cursor-not-allowed;
}

.form-group .file {
  @apply border 
  outline-none 
  shadow-sm 
  rounded-lg 
  transition
  appearance-none
  bg-white
  text-gray-900 
  border-gray-200 
  overflow-hidden
  cursor-pointer
  
  focus:border-orange-500
  focus:border-2;
}

.form-group .browse_button {
  @apply px-4 py-1 bg-gray-200 text-gray-700 whitespace-nowrap;
}

.primary-btn {
  @apply bg-orange-500
  hover:bg-orange-600
  transition-colors
  duration-300
  text-sm
  text-white 
  py-[0.3rem] px-4
  font-normal rounded;
}

.primary-btn:disabled {
  @apply bg-orange-300 cursor-not-allowed;
}

.modal {
  @apply absolute 
  inset-x-[20px] top-32 
  border bg-white 
  overflow-auto 
  rounded-lg outline-none 
  px-6 py-3
  max-w-[800px] 
  h-max 
  m-auto shadow;
}

.modal .header {
  @apply flex justify-between items-center mb-5;
}

.modal .footer {
  @apply mt-3;
}

.ReactModal__Content {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Content--before-close {
  opacity: 0;
  transform: translateY(-100px);
}
